/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    integrativebioinformatics/longnoncoder Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Skips
    skip_qc                    = false
    skip_filtering             = false
    skip_alignment             = false
    skip_alignment_qc          = false
    skip_class                 = false

    // Input options
    input                      = null

    // Filtering raw reads options
    minqual                    = 0
    minlen                     = 300
    maxlen                     = null
    maxgc                      = 1
    mingc                      = 0
    headcrop                   = 0
    tailcrop                   = 0

    // Bambu options
    ndr                        = null

    // Alignment options
    bam_format                 = true
    cigar_paf_format           = false
    cigar_bam                  = false
    bam_index_extension        = 'bai'

    // Coding prediction options
    organism                   = null

    // Ensembl references setup
    reference                  = null
    annotation                 = null
    ensembl_organism_dataset   = null
    ensembl_version            = null

    // MultiQC
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    multiqc_methods_description = null

    // Boilerplate options
    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    monochrome_logs            = false
    help                       = false
    help_full                  = false
    show_hidden                = false
    version                    = false
    validate_params            = true

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

validation {
    defaultIgnoreParams = []
    monochromeLogs      = params.monochrome_logs
}

// Load base.config by default
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g) --cap-add SYS_ADMIN --device /dev/fuse --security-opt apparmor=unconfined'
        singularity.enabled    = false
        apptainer.enabled      = false
        conda.enabled          = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        apptainer.enabled      = false
        conda.enabled          = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        docker.enabled         = false
        singularity.enabled    = false
        conda.enabled          = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    test      { includeConfig 'conf/test.config'      }
    light     { includeConfig 'conf/light.config'     }
    small     { includeConfig 'conf/base.config'      }
    medium    { includeConfig 'conf/medium.config'    }
    large     { includeConfig 'conf/large.config'     }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0'
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'integrativebioinformatics/longnoncoder'
    author          = """Barbara Borges"""
    homePage        = 'https://github.com/integrativebioinformatics/longnoncoder'
    description     = """A pipeline for isoform-level lncRNA discovery from long-reads"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.10.0'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'