params {
    input = "/home/vmaracaja/babi/rbfox2/samplesheet.csv"
    outdir = "/home/vmaracaja/babi/rbfox2/results"

    skip_qc = false
    skip_filtering = false
    skip_alignment = false
    skip_alignment_qc = false
    skip_class = false

    minqual = 10
    minlen = 300
    maxgc = 0.6
    mingc = 0.4
    headcrop = 0
    tailcrop = 0

    reference = "/home/vmaracaja/shared-projects/RatOmics/references/Rattus_norvegicus.GRCr8.dna.primary_assembly.all.fa"
    bam_format = true
    cigar_paf_format = false
    cigar_bam = false

    annotation = "/home/vmaracaja/shared-projects/RatOmics/references/Rattus_norvegicus.GRCr8.114.chr.gtf"
    organism = 'Mus_musculus'
}
