params {
    config_profile_name        = 'Large profile'
    config_profile_description = 'Profile for large fastq and bam files'
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 20.GB
        time   = 8.h
    }
    withLabel:process_low {
        cpus   =  1
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  1
        memory = 50.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   =  20
        memory = 60.GB
        time   = 20.h
    }
    withLabel:process_long {
        time   = 48.h
    }
    withLabel:process_high_memory {
        cpus = 6
        memory = 500.GB
        time = 12.h
    }
}