params {
    config_profile_name        = 'Light profile'
    config_profile_description = 'Profile for personal computers'
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 5.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  1
        memory = 3.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  1
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  10
        memory = 20.GB
        time   = 4.h
    }
    withLabel:process_high_memory {
        memory = 30.GB
    }
}