/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    integrativebioinformatics/pulposeq Nextflow config file for running medium profiles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [ cpus: 8, memory: 290.GB, time: 12.h ]

    withLabel:process_reports {
        cpus   =  1
        memory = 5.GB
        time   = 1.h
    }
    withLabel:process_low {
        cpus   =  3
        memory = 3.GB
        time   = 1.h
    }
    withLabel:process_chopper {
        cpus   = 1
        memory = 10.GB
        time   = 6.h
    }
    withLabel:process_minimap2 {
        cpus   =  8
        memory = 40.GB
        time   = 10.h
    }
    withLabel:process_nanocomp {
        cpus   = 1
        memory = 20.GB
        time   = 8.h
    }
    withName: 'PULPOSEQ:ALIGNMENT:NANOCOMP_MAPPING' {
        cpus   =  1
        memory = 40.GB
        time   = 10.h
    }
    withLabel:process_bambu {
        cpus = 8
        memory = 200.GB
        time = 12.h
    }
}