params {
    config_profile_name        = 'Medium profile'
    config_profile_description = 'Profile for medium size fastq files'
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 12.GB
        time   = 8.h
    }
    withLabel:process_low {
        cpus   =  1
        memory = 10.GB
        time   = 3.h
    }
    withLabel:process_medium {
        cpus   =  1
        memory = 20.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   =  20
        memory = 40.GB
        time   = 20.h
    }
    withLabel:process_high_memory {
        cpus = 6
        memory = 100.GB
        time = 12.h
    }
}
